<form action="?" method="get" class="form-horizontal" name="save_setting">
[#if ow_api_key!="" && api_method!=""#]
   <div class="form-group">
      <label class="col-md-3"><#LANG_OW_CITYNAME#></label>
      <div class="col-md-2 input-group">
         <input type="text" name="ow_city_name" class="form-control" placeholder="<#LANG_OW_CITYNAME#>" value="[#ow_city_name#]" disabled>
			<div class="input-group-btn">
				<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-info-sign"></span> <span class="caret"></span></button>
				<ul class="dropdown-menu pull-right">
				  <li><a href="#">ID [#ow_city_id#]</a></li>
				  <li><a href="#">LAT [#ow_city_lat#]</a></li>
				  <li><a href="#">LON [#ow_city_lon#]</a></li>
				</ul>
			</div>
      </div>
	  <div class="col-md-2">
         <a href="?ow_subm=getCityId" class="btn btn-default" title="<#LANG_OW_CHANGE_CITY#>"><span class="glyphicon glyphicon-edit"></span> <#LANG_OW_CHANGE#></a>
      </div>
   </div>
	<div class="form-group">
	   <label class="col-md-3"><#LANG_HCB#>ow_imgchache<#LANG_HCE#> <#LANG_OW_FLAG_USE_IMAGE_CACHE#></label>
	   <div class="col-lg-2">
		<input type="checkbox" class="form-control" name="ow_imagecache" [#if ow_imagecache="off" #] [#else#] checked[#endif#] />
	   </div>
	</div>

   <div class="form-group">
      <label class="col-md-3"><#LANG_HCB#>ow_apimethod<#LANG_HCE#> <#LANG_OW_FORECAST_PERIOD_TITLE#></label>
      <div class="col-md-2">
         <select class="form-control" name="ow_forecast_interval">
            <option value="0" [#if forecast_interval=="0" #] selected[#endif#]>----</option>
            <option value="1" [#if forecast_interval=="1" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_1DAY#></option>
            <option value="2" [#if forecast_interval=="2" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_2DAY#></option>
            <option value="3" [#if forecast_interval=="3" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_3DAY#></option>
            <option value="4" [#if forecast_interval=="4" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_4DAY#></option>
            <option value="5" [#if forecast_interval=="5" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_5DAY#></option>
            [#if api_method=="16d"#]<option value="6" [#if forecast_interval=="6" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_6DAY#></option>[#endif#]
            [#if api_method=="16d"#]<option value="7" [#if forecast_interval=="7" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_7DAY#></option>[#endif#]
            [#if api_method=="16d"#]<option value="8" [#if forecast_interval=="8" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_8DAY#></option>[#endif#]
            [#if api_method=="16d"#]<option value="9" [#if forecast_interval=="9" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_9DAY#></option>[#endif#]
            [#if api_method=="16d"#]<option value="10" [#if forecast_interval=="10" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_10DAY#></option>[#endif#]
            [#if api_method=="16d"#]<option value="11" [#if forecast_interval=="11" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_11DAY#></option>[#endif#]
            [#if api_method=="16d"#]<option value="12" [#if forecast_interval=="12" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_12DAY#></option>[#endif#]
            [#if api_method=="16d"#]<option value="13" [#if forecast_interval=="13" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_13DAY#></option>[#endif#]
            [#if api_method=="16d"#]<option value="14" [#if forecast_interval=="14" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_14DAY#></option>[#endif#]
            [#if api_method=="16d"#]<option value="15" [#if forecast_interval=="15" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_15DAY#></option>[#endif#]
            [#if api_method=="16d"#]<option value="16" [#if forecast_interval=="16" #] selected[#endif#]><#LANG_OW_FORECAST_PERIOD_16DAY#></option>[#endif#]
         </select>
      </div>
   </div>

   <div class="form-group">
      <label class="col-md-3"><#LANG_OW_UPDATE_PERIOD#></label>
      <div class="col-md-2">
         <select class="form-control" name="ow_update_interval">
            <option value="0" [#if updatetime=="0" #] selected[#endif#]>----</option>
            <option value="1" [#if updatetime=="1" #] selected[#endif#]><#LANG_OW_UPDATE_PERIOD_1HOUR#></option>
            <option value="2" [#if updatetime=="2" #] selected[#endif#]><#LANG_OW_UPDATE_PERIOD_2HOUR#></option>
            <option value="3" [#if updatetime=="3" #] selected[#endif#]><#LANG_OW_UPDATE_PERIOD_3HOUR#></option>
            <option value="4" [#if updatetime=="4" #] selected[#endif#]><#LANG_OW_UPDATE_PERIOD_4HOUR#></option>
            <option value="5" [#if updatetime=="5" #] selected[#endif#]><#LANG_OW_UPDATE_PERIOD_5HOUR#></option>
         </select>
      </div>
   </div>

   <div class="form-group">
      <label class="col-md-3"><#LANG_HCB#>OnchangeScript<#LANG_HCE#> <#LANG_OW_EXECUTE_AFTER_UPDATE#></label>
      <div class="col-md-4">
         <input type="text" name="ow_script" class="form-control" placeholder="<#LANG_OW_SCRIPT_NAME#>" value="[#script#]">
      </div>
   </div>
[#endif#]
   <div class="form-group">
      <label class="col-md-3"[#if ERR_KEY#] style="color:red;font-weight:bold"[#endif#]><#LANG_HCB#>ow_apikey<#LANG_HCE#> <#LANG_OW_API_KEY#> *</label>
      <div class="col-md-4">
         <input type="text" name="ow_api_key" class="form-control" placeholder="<#LANG_OW_API_KEY#>" value="[#ow_api_key#]">
      </div>
   </div>
	<div class="form-group">
	 <label class="col-md-3"[#if ERR_METHOD#] style="color:red;font-weight:bold"[#endif#]>
	 <#LANG_HCB#>ow_apimethod<#LANG_HCE#> Метод API
	 </label>
	 <div class="col-md-4">
			<input type="radio" name="api_method" value="16d"[#if api_method=="16d"#] checked[#endif#]> <#LANG_OW_16D#><br>
			<input type="radio" name="api_method" value="5d3h"[#if api_method=="5d3h"#] checked[#endif#]> <#LANG_OW_5D3H#><br>
	 </div>
	</div>
	<div class="form-group">
		<label class="col-md-3">
		<#LANG_HCB#>ow_round<#LANG_HCE#> Округлить значения
		</label>
		<div class="btn-group col-md-4" data-toggle="buttons">
			<label class="btn [#if ow_round=="0"#]btn-primary[#else#]btn-default[#endif#]">
				<input type="radio" name="ow_round" value="0" [#if ow_round=="0"#] checked[#endif#]> До целого
			</label>
			<label class="btn [#if ow_round=="1"#]btn-primary[#else#]btn-default[#endif#]">
				<input type="radio" name="ow_round" value="1" [#if ow_round=="1"#] checked[#endif#]> .0
			</label>
			<label class="btn [#if ow_round=="2"#]btn-primary[#else#]btn-default[#endif#]">
				<input type="radio" name="ow_round" value="2" [#if ow_round=="2"#] checked[#endif#]> .00
			</label>
		</div>
	</div>
	<div class="form-group">
	   <label class="col-md-3"><#LANG_HCB#>ow_ws<#LANG_HCE#> Режим погодной станции</label>
	   <div class="col-lg-2">
		<input type="checkbox" class="form-control" name="ow_ws_active" [#if ow_ws_active==1 #] checked[#else#] [#endif#]/>
	   </div>
	</div>
   <div class="form-group">
      <a href="?" class="btn btn-default"><#LANG_CANCEL#></a>
      <button type="submit" name="ow_subm" value="setting" class="btn btn-primary"><#LANG_SUBMIT#></button>
   </div>
</form>